joblib==1.0.1
matplotlib
nbdev
numpy
pandas
pandas_profiling
python-dotenv
scikit_learn
seaborn
setuptools
snowflake_connector_python
tqdm
black
blackcellmagic
pyarrow
tabulate
panel
hvplot
jupyter_bokeh
imbalanced-learn
shap
lightgbm